<div class="profile-container">
  <%= link_to destroy_user_session_path, :method => :delete do %>
    <div class="profile-account-user">
      Jon
    </div>
  <% end %>
  <%= render :partial => "partials/side_nav", :locals => {:active => 2} %>
  <div class="profile-content">
    <div class="profile-content-header">
      <div class="profile-content-header-title">Emails</div>
      <div class="profile-content-header-underline"></div>
    </div>

    <div class="profile-content-button-row">
      <div class="rounded-primary-button">
        New Email
      </div>
    </div>
    <div class="profile-table">
        <% @templates.each do |template| %>
          <% if template.completed %>
            <%= link_to template_path(template), class: "template-card" do %>
              <div class="template-row">
                <div class="template-name"><%= template.name %></div>
                <span class="status-cell">Completed<i class="fa fa-check-circle fa-1x" aria-hidden="true"></i></span>
              </div>
              <div class="template-row template-small-label">Promotion</div>
              <div class="template-row template-small-label-gray">Created: <%= template.created_at.strftime("%m/%d/%Y") %></div>
            <% end %>
          <% else %>
            <%= link_to slice_path(template, id:template.id), class: "template-card" do %>
              <div class="template-row">
                <div class="template-name"><%= template.name %></div>
                <span class="status-cell-incomplete">Incomplete<i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>
              </div>
              <div class="template-row template-small-label">Promotion</div>
              <div class="template-row template-small-label-gray">Created: <%= template.created_at.strftime("%m/%d/%Y") %></div>
            <% end %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
