<div class="profile-container">
  <%= link_to destroy_user_session_path, :method => :delete do %>
    <div class="profile-account-user">
      Jon
    </div>
  <% end %>
  <div class="profile-sidebar">
    <div class="profile-sidebar-item">
      <%= link_to 'slice' do %>
        <%= image_tag('profile-code.png') %>
      <% end %>
    </div>
    <div class="profile-sidebar-item-active">
      <%= link_to 'templates' do %>
        <%= image_tag('profile-list.png') %>
      <% end %>
    </div>
    <div class="profile-sidebar-item">
      <%= link_to 'profile' do %>
        <%= image_tag('profile-user.png') %>
      <% end %>
    </div>
    <div class="profile-sidebar-item">
      <%= image_tag('profile-gear.png') %>
    </div>
  </div>
  <div class="profile-content">
    <div class="profile-content-header">
      <div class="profile-content-header-title">Emails</div>
      <div class="profile-content-header-underline"></div>
    </div>

    <div class="profile-content-button-row">
      <div class="rounded-primary-button">
        New Email
      </div>
    </div>
    <div class="profile-table">
      <div class="profile-table-header">
        <span>Name</span>
        <span>Label</span>
        <span>Status</span>
        <span>Created</span>
        <span>Delete</span>
      </div>
      <% @templates.each do |template| %>
        <div class="profile-table-row">
          <span class="profile-table-cell"><%= template.name %></span>
          <span class="profile-table-cell">name</span>
          <% if template.completed %>
            <span class="profile-table-cell"><span class="status-cell"><div class="status-cell-circle"></div>Completed</span></span>
          <% else %>
            <span class="profile-table-cell"><span class="status-cell"><div class="status-cell-circle"></div>NOT COMPLETED</span></span>
          <% end %>
          <span class="profile-table-cell"><%= template.created_at.strftime("%m/%d/%Y") %></span>
          <span class="profile-table-cell"><%= link_to 'View', template_path(template) %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
