<% sliceClass = active == 1 ? "profile-sidebar-item-active" : "profile-sidebar-item" %>
<% templatesClass = active == 2 ? "profile-sidebar-item-active" : "profile-sidebar-item" %>
<% accountClass = active == 4 ? "profile-sidebar-item-active" : "profile-sidebar-item"  %>
<% profileClass = active == 3 ? "profile-sidebar-item-active" : "profile-sidebar-item" %>
<div class="profile-sidebar">
  <div class=<%= sliceClass %>>
    <%= link_to 'slice' do %>
      <i class="fa fa-code fa-2x" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class=<%= templatesClass %>>
    <%= link_to 'templates' do %>
      <i class="fa fa-tasks fa-2x" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class=<%= profileClass %>>
    <%= link_to 'profile' do %>
      <i class="fa fa-users fa-2x" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class=<%= accountClass %>>
    <%= link_to 'accounts' do %>
      <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
    <% end %>
  </div>
</div>
