<div class="hero-container">
  <div class="hero-primary">

  </div>
  <div class="hero-video">
    <div class="play-icon-circle">
      <div class="play-icon-triangle"></div>
    </div>
  </div>
  <div class="hero-white">

  </div>
</div>

<div class="main-cta-container">
  <div class="dark-gray-title center">
    Pigeon Post
  </div>
  <%= image_tag('primary-pigeon.png') %>
  <div class="dark-gray-body main-cta-body center">
    Lorem ipsum dolor sit amet, vis ne error assentior, ei graeco rationibus persequeris nec, pro tollit maluisset ne. Brute ceteros eleifend sit ex. An tollit regione vocibus duo.ertinacia ea
  </div>
  <%= link_to new_user_registration_path do %>
    <div class="primary-button">SIGN UP</div>
  <% end %>
</div>

<div class="how-to-container">
  <div class="white-title center">
    How it works
  </div>
  <div class="white-body center padding-top-25px padding-bottom-25px">
    Just follow these four easy steps
  </div>
  <div class="how-to-card-container">
    <div class="how-to-card">
      <div class="how-to-card-title">
        <span>STEP 1</span>
      </div>
      <div class="how-to-card-icon">
        <%= image_tag('scissors.png') %>
      </div>
      <div class="how-to-card-type">
        Slice
      </div>
      <div class="how-to-card-body">
         Assentior, ei graeco rationibus persequeris nec, pro tollit maluisset ne. Brute ceteros eleifend sit ex. An tollit regione vocibus duo. An eum nulla semper. Alii erat altera ea eam, admodum similique expetendis in has, sed modus pertinacia ea.
      </div>
    </div>
    <div class="how-to-card">
      <div class="how-to-card-title">
        <span>STEP 2</span>
      </div>
      <div class="how-to-card-icon">
        <%= image_tag('upload.png') %>
      </div>
      <div class="how-to-card-type">
        Upload Slices
      </div>
      <div class="how-to-card-body">
         Assentior, ei graeco rationibus persequeris nec, pro tollit maluisset ne. Brute ceteros eleifend sit ex. An tollit regione vocibus duo. An eum nulla semper. Alii erat altera ea eam, admodum similique expetendis in has, sed modus pertinacia ea.
      </div>
    </div>
    <div class="how-to-card">
      <div class="how-to-card-title">
        <span>STEP 3</span>
      </div>
      <div class="how-to-card-icon">
        <%= image_tag('primary-pigeon.png') %>
      </div>
      <div class="how-to-card-type">
        Use Pigeon Post
      </div>
      <div class="how-to-card-body">
         Assentior, ei graeco rationibus persequeris nec, pro tollit maluisset ne. Brute ceteros eleifend sit ex. An tollit regione vocibus duo. An eum nulla semper. Alii erat altera ea eam, admodum similique expetendis in has, sed modus pertinacia ea.
      </div>
    </div>
    <div class="how-to-card">
      <div class="how-to-card-title">
        <span>STEP 4</span>
      </div>
      <div class="how-to-card-icon">
        <%= image_tag('click.png') %>
      </div>
      <div class="how-to-card-type">
        Click Code
      </div>
      <div class="how-to-card-body">
         Assentior, ei graeco rationibus persequeris nec, pro tollit maluisset ne. Brute ceteros eleifend sit ex. An tollit regione vocibus duo. An eum nulla semper. Alii erat altera ea eam, admodum similique expetendis in has, sed modus pertinacia ea.
      </div>
    </div>
  </div>
</div>

<div class="review-container">
  <div class="review-card">
    <div class="review-card-top">
      <div class="review-image"></div>
      <div class="review-name-group">
        <div class="review-name">Joe Schmo</div>
        <div class="review-stars"><%= image_tag('stars.png') %></div>
      </div>
    </div>
    <div class="review-bottom">
      <div class="review-title">Lorem Ipsum</div>
      <div class="review-body">Lorem ipsum dolor sit amet, vis ne error assentior, ei graeco rationibus persequeris nec, pro tollit maluisset ne. Brute ceteros eleifend sit ex. An tollit regione vocibus duo. An eum nulla semper. Alii erat altera ea eam, admodum.</div>
    </div>
  </div>
  <div class="review-card">
    <div class="review-card-top">
      <div class="review-image"></div>
      <div class="review-name-group">
        <div class="review-name">Joe Schmo</div>
        <div class="review-stars"><%= image_tag('stars.png') %></div>
      </div>
    </div>
    <div class="review-bottom">
      <div class="review-title">Lorem Ipsum</div>
      <div class="review-body">Lorem ipsum dolor sit amet, vis ne error assentior, ei graeco rationibus persequeris nec, pro tollit maluisset ne. Brute ceteros eleifend sit ex. An tollit regione vocibus duo. An eum nulla semper. Alii erat altera ea eam, admodum.</div>
    </div>
  </div>
  <div class="review-card">
    <div class="review-card-top">
      <div class="review-image"></div>
      <div class="review-name-group">
        <div class="review-name">Joe Schmo</div>
        <div class="review-stars"><%= image_tag('stars.png') %></div>
      </div>
    </div>
    <div class="review-bottom">
      <div class="review-title">Lorem Ipsum</div>
      <div class="review-body">Lorem ipsum dolor sit amet, vis ne error assentior, ei graeco rationibus persequeris nec, pro tollit maluisset ne. Brute ceteros eleifend sit ex. An tollit regione vocibus duo. An eum nulla semper. Alii erat altera ea eam, admodum.</div>
    </div>
  </div>
</div>
<div class="pricing-container">
  <div class="white-title center">Pick a Plan</div>
  <div class="pricing-card-container">
    <div class="pricing-card">
      <div class="pricing-name">Birdy Plan</div>
      <div class="pricing-price">$229<span class="price-detail">/yr</span></div>
      <div class="pricing-details">50 emails</div>
      <div class="pricing-button">
        <span>Small Business</span>
      </div>
    </div>
    <div class="pricing-card">
      <div class="pricing-name">Nest Plan</div>
      <div class="pricing-price">$329<span class="price-detail">/yr</span></div>
      <div class="pricing-details">125 emails</div>
      <div class="pricing-button">
        <span>Growing</span>
      </div>
    </div>
    <div class="pricing-card">
      <div class="pricing-name">Flock Plan</div>
      <div class="pricing-price">$429<span class="price-detail">/yr</span></div>
      <div class="pricing-details-gold">Unlimited emails</div>
      <div class="pricing-button">
        <span>Best Plan</span>
      </div>
    </div>
  </div>
  <%= link_to new_user_registration_path do %>
    <div class="buy-button">SIGN UP</div>
  <% end %>
</div>
<div class="footer">
  <div class="contact">Questions?</div>
  <div class="primary-button">CONTACT</div>
  <div class="made-by">Made in NYC by CleverBureau <br />Support local small businesses</div>
  <%= image_tag('subway.png') %>
</div>
