<div class="hero-container">
  <div class="hero-primary">

  </div>
  <div class="hero-video">
    <div class="play-icon-circle">
      <div class="play-icon-triangle"></div>
    </div>
  </div>
  <div class="hero-white">

  </div>
</div>
<div class="main-cta-container">
  <div class="dark-gray-title center">
    Pigeon Post
  </div>
  <%= image_tag('primary-pigeon.png') %>
  <div class="dark-gray-body main-cta-body center">
    Lorem ipsum dolor sit amet, vis ne error assentior, ei graeco rationibus persequeris nec, pro tollit maluisset ne. Brute ceteros eleifend sit ex. An tollit regione vocibus duo.ertinacia ea
  </div>
  <div class="primary-button">SIGN UP</div>
</div>
<div class="how-to-container">
  <div class="white-title center">
    How it works
  </div>
  <div class="white-body center padding-top-25px padding-bottom-25px">
    In just a few easy steps your email will be fully coded.
  </div>
  <div class="how-to-card-container">
    <div class="how-to-card">
      <div class="how-to-card-title">
        <span>STEP 1</span>
      </div>
      <div class="how-to-card-icon">
        <%= image_tag('primary-pigeon.png') %>
      </div>
      <div class="how-to-card-type">
        Slice
      </div>
      <div class="how-to-card-body">
         Assentior, ei graeco rationibus persequeris nec, pro tollit maluisset ne. Brute ceteros eleifend sit ex. An tollit regione vocibus duo. An eum nulla semper. Alii erat altera ea eam, admodum similique expetendis in has, sed modus pertinacia ea.
      </div>
    </div>
    <div class="how-to-card">
      <div class="how-to-card-title">
        <span>STEP 2</span>
      </div>
      <div class="how-to-card-icon">
        <%= image_tag('secondary-pigeon.png') %>
      </div>
      <div class="how-to-card-type">
        Upload Slices
      </div>
      <div class="how-to-card-body">
         Assentior, ei graeco rationibus persequeris nec, pro tollit maluisset ne. Brute ceteros eleifend sit ex. An tollit regione vocibus duo. An eum nulla semper. Alii erat altera ea eam, admodum similique expetendis in has, sed modus pertinacia ea.
      </div>
    </div>
    <div class="how-to-card">
      <div class="how-to-card-title">
        <span>STEP 3</span>
      </div>
      <div class="how-to-card-icon">
        <%= image_tag('black-pigeon.png') %>
      </div>
      <div class="how-to-card-type">
        Use Pigeon Post
      </div>
      <div class="how-to-card-body">
         Assentior, ei graeco rationibus persequeris nec, pro tollit maluisset ne. Brute ceteros eleifend sit ex. An tollit regione vocibus duo. An eum nulla semper. Alii erat altera ea eam, admodum similique expetendis in has, sed modus pertinacia ea.
      </div>
    </div>
    <div class="how-to-card">
      <div class="how-to-card-title">
        <span>STEP 4</span>
      </div>
      <div class="how-to-card-icon">
        <%= image_tag('primary-pigeon.png') %>
      </div>
      <div class="how-to-card-type">
        Click Code
      </div>
      <div class="how-to-card-body">
         Assentior, ei graeco rationibus persequeris nec, pro tollit maluisset ne. Brute ceteros eleifend sit ex. An tollit regione vocibus duo. An eum nulla semper. Alii erat altera ea eam, admodum similique expetendis in has, sed modus pertinacia ea.
      </div>
    </div>
    <div class="how-to-card">
      <div class="how-to-card-title">
        <span>STEP 5</span>
      </div>
      <div class="how-to-card-icon">
        <%= image_tag('secondary-pigeon.png') %>
      </div>
      <div class="how-to-card-type">
        Enjoy your day
      </div>
      <div class="how-to-card-body">
         Assentior, ei graeco rationibus persequeris nec, pro tollit maluisset ne. Brute ceteros eleifend sit ex. An tollit regione vocibus duo. An eum nulla semper. Alii erat altera ea eam, admodum similique expetendis in has, sed modus pertinacia ea.
      </div>
    </div>
  </div>
</div>
<div class="review-container">
  <div class="review-card">
    <div class="review-card-top">
      <div class="review-image"></div>
      <div class="review-name-group">
        <div class="review-name">Joe Schmo</div>
        <div class="review-stars">*****</div>
      </div>
    </div>
    <div class="review-bottom">
      <div class="review-title">Lorem Ipsum</div>
      <div class="review-body">Lorem ipsum dolor sit amet, vis ne error assentior, ei graeco rationibus persequeris nec, pro tollit maluisset ne. Brute ceteros eleifend sit ex. An tollit regione vocibus duo. An eum nulla semper. Alii erat altera ea eam, admodum.</div>
    </div>
  </div>
  <div class="review-card"></div>
  <div class="review-card"></div>
</div>
