<div class="new_home-container">
  <div class="new_home-nav-button-container">
    <%= link_to new_user_registration_path , class: "rounded-primary-button" do %>
      Sign Up
    <% end %>
    <%= link_to new_user_session_path, class: "nav_home-button-rounded-border" do %>
      Sign In
    <% end %>
  </div>
  <div class="new_landing-container">
    <div class="new_landing-body-container">
      <div class="new_landing-body-title">
        So easy a<br />pigeon can do it.
      </div>
      <div class="new_landing-body-sub-title">
        Simple, seamless smart emails, really<br />fast. Using our awesome tool.
      </div>
      <div class="new_landing-body-icon">
        <a class="new_landing-link-white">Let our pigeons help <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <!-- Second section -->
  <div class="new_landing-first-section-container">
    <div class="new_landing-first-section-cta">
      <span class="title-dark">The simplicity of Pigeon Post</span>
      <span class="new_landing-first-section-cta-body">In omnesque adipisci dissentias eos. Ei dicat apeirian imperdiet sed, sit cibo ocurreret in. Movet clita eirmod eam ea, docendi oportere neglegentur no has. Amet primis indoctum ad duo, mei ei rebum adipisci.</span>
      <a class="new_landing-link">Sign Up for Updates</a>
    </div>
    <div class="new_landing-first-section-icon-container">
      <%= image_tag('logo.png') %>
    </div>
  </div>
 <!-- second section -->
  <div class="new_landing-second-section-container">
    <!-- <div class="new_landing-second-section-top-container">

    </div> -->
    <div class="new_landing-second-section-bottom-container">
      <div class="new_landing-second-section-title">Design Anywhere</div>
      <div class="new_landing-second-section-body">Have your designer use their favorite</br>tools,whether its sketch, illustrator or photoshop.</br>Just export and your ready to go.</div>
      <%= image_tag('pigeon_bnb_1.png') %>
    </div>
    <div class="new_landing-second-section-bottom-container">
      <div class="new_landing-second-section-title">Slice where you want</div>
      <div class="new_landing-second-section-body">Have your designer use their favorite</br>tools,whether its sketch, illustrator or photoshop.</br>Just export and your ready to go.</div>
      <%= image_tag('pigeon_bnb_2.png') %>
    </div>
    <div class="new_landing-second-section-bottom-container">
      <div class="new_landing-second-section-title">Link where you want</div>
      <div class="new_landing-second-section-body">Have your designer use their favorite</br>tools,whether its sketch, illustrator or photoshop.</br>Just export and your ready to go.</div>
      <%= image_tag('pigeon_bnb_3.png') %>
    </div>

  </div>

  <!-- review section -->
  <div class="new_landing-review-section-container">
    <div class="new-landing-review-card">
      <span class="new-landing-review-card-circle"><%= icon('star') %></span>
      <div class="new-landing-review-card-image-1">

      </div>
      <div class="new-landing-review-card-bottom">
        <div class="new-landing-review-card-bottom-title">Ken Bone</div>
        <span class="new-landing-review-card-bottom-line"></span>
        <div class="new-landing-review-card-bottom-body">In omnesque adipisci dissentias eos. Ei dicat apeirian imperdiet sed, sit cibo ocurreret in. Movet clita eirmod eam ea, docendi oportere neglegentur no has. Amet primis indoctum ad duo, mei ei rebum adipisci.</div>
      </div>
    </div>

    <div class="new-landing-review-cta-container">
      <span class="new-landing-review-cta-title">We make life easy</span>
      <span class="new-landing-review-cta-body">In omnesque adipisci dissentias eos. Ei dicat apeirian imperdiet sed, sit cibo ocurreret in. Movet clita eirmod eam ea, docendi oportere neglegentur no has. Amet primis indoctum ad duo, mei ei rebum adipisci. In omnesque adipisci dissentias eos. Ei dicat apeirian imperdiet sed, sit cibo ocurreret in. Movet clita eirmod eam ea, docendi oportere neglegentur no has. Amet primis indoctum ad duo, mei ei rebum adipisci.</span>
      <a class="new_landing-link">Let our pigeons help you</a>
    </div>

    <!-- <div class="new-landing-review-card">
      <span class="new-landing-review-card-circle"><%= icon('star') %></span>
      <div class="new-landing-review-card-image-2">

      </div>
      <div class="new-landing-review-card-bottom">
        <div class="new-landing-review-card-bottom-title">Ken Bone</div>
        <span class="new-landing-review-card-bottom-line"></span>
        <div class="new-landing-review-card-bottom-body">In omnesque adipisci dissentias eos. Ei dicat apeirian imperdiet sed, sit cibo ocurreret in. Movet clita eirmod eam ea, docendi oportere neglegentur no has. Amet primis indoctum ad duo, mei ei rebum adipisci.</div>
      </div>
    </div>

    <div class="new-landing-review-card">
      <span class="new-landing-review-card-circle"><%= icon('star') %></span>
      <div class="new-landing-review-card-image-3">

      </div>
      <div class="new-landing-review-card-bottom">
        <div class="new-landing-review-card-bottom-title">Ken Bone</div>
        <span class="new-landing-review-card-bottom-line"></span>
        <div class="new-landing-review-card-bottom-body">In omnesque adipisci dissentias eos. Ei dicat apeirian imperdiet sed, sit cibo ocurreret in. Movet clita eirmod eam ea, docendi oportere neglegentur no has. Amet primis indoctum ad duo, mei ei rebum adipisci.</div>
      </div>
    </div> -->
  </div>

  <!-- Pricing -->
  <div class="pricing-parent-container">
    <div class="pricing-container">
      <div class="pricing-card">
        <span class="title-dark">Birdy Plan</span>
        <div class="pricing-card-info-container">
          <div class="pricing-card-cost-box">
            <span class="pricing-card-cost-box-money">$ </span>
            <span class="pricing-card-cost-box-number">19</span>
            <span class="pricing-card-cost-box-money"> /MO</span>
          </div>

          <span class="pricing-card-cost-box-detail">Billed Annually</span>
          <span class="pricing-card-cost-box-list-item">- One Seat</span>
          <span class="pricing-card-cost-box-list-item">- 100 emails/yr</span>
          <span class="pricing-card-cost-box-list-item">- List item</span>
          <span class="pricing-card-cost-box-list-item">- List item</span>
        </div>


        <div class="buy-button-primary-arrow">
          <span>Get started</span>
          <%= icon('chevron-right') %>
        </div>
      </div>

      <div class="pricing-card">
        <span class="title-dark">Flock Plan</span>
        <div class="pricing-card-info-container">
          <div class="pricing-card-cost-box">
            <span class="pricing-card-cost-box-money">$ </span>
            <span class="pricing-card-cost-box-number">29</span>
            <span class="pricing-card-cost-box-money"> /MO</span>
          </div>

          <span class="pricing-card-cost-box-detail">Billed Annually</span>
          <span class="pricing-card-cost-box-list-item">- Three seats</span>
          <span class="pricing-card-cost-box-list-item">- 250 emails/yr</span>
          <span class="pricing-card-cost-box-list-item">- Saved Emails</span>
          <span class="pricing-card-cost-box-list-item">- List item</span>
        </div>


        <div class="buy-button-primary-arrow">
          <span>Get started</span>
          <%= icon('chevron-right') %>
        </div>
      </div>

      <div class="pricing-card">
        <span class="title-dark">Nest Plan</span>
        <div class="pricing-card-info-container">
          <div class="pricing-card-cost-box">
            <span class="pricing-card-cost-box-money">$ </span>
            <span class="pricing-card-cost-box-number">39</span>
            <span class="pricing-card-cost-box-money"> /MO</span>
          </div>

          <span class="pricing-card-cost-box-detail">Billed Annually</span>
          <span class="pricing-card-cost-box-list-item">- Five seats</span>
          <span class="pricing-card-cost-box-list-item">- 500 emails/yr</span>
          <span class="pricing-card-cost-box-list-item">- List item</span>
          <span class="pricing-card-cost-box-list-item">- List item</span>
        </div>


        <div class="buy-button-primary-arrow">
          <span>Get started</span>
          <%= icon('chevron-right') %>
        </div>
      </div>

    </div>
  </div>

  <!-- Mailing list -->
  <div class="new-landning-mailing-list-container">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="//twitter.us14.list-manage.com/subscribe/post?u=1d1ca49159487d06ba7da709d&amp;id=5759d5c3e2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
        	<label for="mce-EMAIL">Want to stay updated on our release schedule?</label>
        	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1d1ca49159487d06ba7da709d_5759d5c3e2" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>

<!--End mc_embed_signup-->
  </div>
</div>
