<div class="new_home-container">
  <div class="new_landing-container">
    <div class="new_landing-body-container">
      <div class="new_landing-body-title">
        Come live in<br />the future
      </div>
      <div class="new_landing-body-sub-title">
        Simple, seamless smart emails, really<br />fast. Using our awesome tool.
      </div>
      <div class="new_landing-body-icon">
        <%= image_tag('play_icon_new.png') %>
      </div>
    </div>
  </div>
  <div class="new_landing-accent-block"></div>
  <!-- Second section -->
  <div class="new_landing-first-section-container">
    <div class="new_landing-first-section-cta">
      <span class="new_landing-first-section-cta-title">The simplicity of Pigeon Post</span>
      <span class="new_landing-first-section-cta-body">In omnesque adipisci dissentias eos. Ei dicat apeirian imperdiet sed, sit cibo ocurreret in. Movet clita eirmod eam ea, docendi oportere neglegentur no has. Amet primis indoctum ad duo, mei ei rebum adipisci.</span>
      <a class="new_landing-link">Sign Up for Updates</a>
    </div>
    <div class="new_landing-first-section-icon-container">
      <%= image_tag('email-box.png') %>
    </div>
  </div>
 <!-- Third section -->
  <div class="new_landing-second-section-container">
  </div>

  <!-- review section -->
  <div class="new_landing-review-section-container">
    <div class="new-landing-review-card">
      <span class="new-landing-review-card-circle"><%= image_tag('star.png') %></span>
      <div class="new-landing-review-card-image">

      </div>
      <div class="new-landing-review-card-bottom">
        <div class="new-landing-review-card-bottom-title">Ken Bone</div>
        <span class="new-landing-review-card-bottom-line"></span>
        <div class="new-landing-review-card-bottom-body">In omnesque adipisci dissentias eos. Ei dicat apeirian imperdiet sed, sit cibo ocurreret in. Movet clita eirmod eam ea, docendi oportere neglegentur no has. Amet primis indoctum ad duo, mei ei rebum adipisci.</div>
      </div>
    </div>

    <div class="new-landing-review-card">
      <span class="new-landing-review-card-circle"><%= image_tag('star.png') %></span>
      <div class="new-landing-review-card-image">

      </div>
      <div class="new-landing-review-card-bottom">
        <div class="new-landing-review-card-bottom-title">Ken Bone</div>
        <span class="new-landing-review-card-bottom-line"></span>
        <div class="new-landing-review-card-bottom-body">In omnesque adipisci dissentias eos. Ei dicat apeirian imperdiet sed, sit cibo ocurreret in. Movet clita eirmod eam ea, docendi oportere neglegentur no has. Amet primis indoctum ad duo, mei ei rebum adipisci.</div>
      </div>
    </div>

    <div class="new-landing-review-card">
      <span class="new-landing-review-card-circle"><%= image_tag('star.png') %></span>
      <div class="new-landing-review-card-image">

      </div>
      <div class="new-landing-review-card-bottom">
        <div class="new-landing-review-card-bottom-title">Ken Bone</div>
        <span class="new-landing-review-card-bottom-line"></span>
        <div class="new-landing-review-card-bottom-body">In omnesque adipisci dissentias eos. Ei dicat apeirian imperdiet sed, sit cibo ocurreret in. Movet clita eirmod eam ea, docendi oportere neglegentur no has. Amet primis indoctum ad duo, mei ei rebum adipisci.</div>
      </div>
    </div>
  </div>
</div>
