<div class="profile-container">
  <div class="profile-sidebar">
    <div class="profile-sidebar-item">
      <%= link_to 'slice' do %>
        <%= image_tag('profile-code.png') %>
      <% end %>
    </div>
    <div class="profile-sidebar-item">
      <%= link_to 'templates' do %>
        <%= image_tag('profile-list.png') %>
      <% end %>
    </div>
    <div class="profile-sidebar-item-active">
      <%= link_to 'profile' do %>
        <%= image_tag('profile-user.png') %>
      <% end %>
    </div>
    <div class="profile-sidebar-item">
      <%= image_tag('profile-gear.png') %>
    </div>
  </div>
  <div class="profile-content">
  <div class="profile-top-dashboard-container">
    <div class="profile-top-dashboard-item">
      <div class="profile-top-dashboard-item-group">
          <i class="fa fa-file-text-o  fa-lg" aria-hidden="true"></i>
          <span class="profile-dashboard-item-title">Emails left:</span>
          <% if @account.email_count == -399 %>
            <span class="profile-dashboard-item-count">Unlimited</span>
          <% else %>
            <span class="profile-dashboard-item-count"><%= @profile.email_code_count %></span>
          <% end %>
        </div>
      </div>
    <div class="profile-top-dashboard-item">
      <div class="profile-top-dashboard-item-group">
        <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
        <span class="profile-dashboard-item-title">Next Bill</span>
        <span class="profile-dashboard-item-count">
        <% time = Time.at(@account.stripe_current_period_end) %>
        <%= time.strftime("%m/%d/%Y")  %></span>
      </div>
    </div>
    <div class="profile-top-dashboard-item">
      <div class="profile-top-dashboard-item-group">
        <i class="fa fa-tags fa-lg" aria-hidden="true"></i>
        <span class="profile-dashboard-item-title">Subscription type</span>
        <span class="profile-dashboard-item-count">
        <%= @sub_type %> emails
        </span>
      </div>
    </div>
  </div>
  <div class="profile-dashboard-card">
    <span class="profile-dashboard-card-title">
      Upgrade Membership
    </span>
    <span class="profile-dashboard-card-desc">
      If you cancel your membership you will have acces to pigeon post until your next bill date.
    </span>
    <div class="accent-button margin-top-50px">
      Upgrade
    </div>
  </div>
  <div class="profile-dashboard-card">
    <span class="profile-dashboard-card-title">
      Cancel Membership
    </span>
    <span class="profile-dashboard-card-desc">
      If you cancel your membership you will have acces to pigeon post until your next bill date.
    </span>
    <div class="alert-button margin-top-50px">
      CANCEL
    </div>
  </div>
  </div>
</div>
