<div class="charge-form-container">
  <%= form_tag charges_path, id: 'chargeForm' do %>
    <% if flash[:error].present? %>
      <div class="notifications">
        <span class="close-notification-button">✕</span>
        <span class="alert"><%= flash[:error] %></span>
      </div>
    <% end %>
    <%= hidden_field_tag 'stripeToken' %>
    <%= hidden_field_tag 'stripeEmail' %>
    <%= hidden_field_tag 'stripePlanType' %>
  <% end %>
  <div class="charge-form-title">
    Pick your plan
  </div>
  <div class="charge-card-container">
    <div class="charge-card" id="birdyButton" data-sub-type="birdy">
      <div class="charge-card-title">Birdy Plan</div>
      <div class="charge-card-desc">For small businesses that need a little help</div>
      <div class="charge-button">$199/yr</div>
    </div>

    <div class="charge-card" id="flockButton" data-sub-type="flock">
      <div class="charge-card-circle"></div>
        <div class="charge-card-title">Flock Plan</div>
        <div class="charge-card-desc">For small businesses that need a little help</div>
        <div class="charge-button-accent">$399/yr</div>
    </div>

    <div class="charge-card" id="nestButton" data-sub-type="nest">
      <div class="charge-card-title">Nest Plan</div>
      <div class="charge-card-desc">Growing business looking to save a lot of time.</div>
      <div class="charge-button">$299/year</div>
    </div>
  </div>
</div>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
var handler = StripeCheckout.configure({
  key: "<%= Rails.configuration.stripe[:publishable_key] %>",
  image: "<%= asset_path 'primary-pigeon.png' %>",
  image:"<%= asset_path 'logo.png' %>",
  zipCode:true,
  billingAddress:true,
  email:"<%= current_user.email %>",
  locale: 'auto',
  token: function(token) {
    console.log(token);
    document.getElementById("stripeToken").value = token.id;
    document.getElementById("stripeEmail").value = token.email;
    document.getElementById("chargeForm").submit();
  }
});
document.getElementById('birdyButton').addEventListener('click', function(e) {
  var birdyPlan = {
    desc:"100 Emails",
    amount:22800,
    planName:"Birdy Plan",
    id:'birdy'
  };

  openStripeModal(birdyPlan);
  e.preventDefault();
});

document.getElementById('flockButton').addEventListener('click', function(e) {
  var flockPlan = {
    desc:"250 Emails",
    amount:34800,
    planName:"Flock Plan",
    id: 'flock'
  }
  openStripeModal(flockPlan);
  e.preventDefault();
});

document.getElementById('nestButton').addEventListener('click', function(e) {
  console.log('clicked');

  var nestPlan = {
    desc:"500 Emails",
    amount:46800,
    planName:"Nest Plan",
    id: 'nest'
  }

  openStripeModal(nestPlan);
  e.preventDefault();
});

// Close Checkout on page navigation:
window.addEventListener('popstate', function() {
  handler.close();
});



function openStripeModal(planType) {
  // Open Checkout with further options:
  document.getElementById("stripePlanType").value = planType.id;
  handler.open({
    name: planType.planName,
    description: planType.desc,
    amount: planType.amount
  });
}
</script>
