<div class="charge-form-container">
  <div class="charge-card">
    <div class="charge-card-top">
      Code emails faster forever with a one time payment.
    </div>
    <div class="charge-card-bottom">
      <%= form_tag charges_path do %>
          <% if flash[:error].present? %>
            <%= flash[:error] %></p>
          <% end %>
          Unlimited use for just $299
        <div class="stripe-button">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-name="Pigeon Post"
                  data-description="Unlimited Subscription"
                  data-image="<%= asset_path 'primary-pigeon.png' %>"
                  data-amount="29900"
                  data-label="Pay With card"
                  data-zip-code=true
                  data-billing-address=true
                  data-email="<%= current_user.email %>"
                  data-locale="auto">
          </script>

        </div>
      <% end %>
    </div>
  </div>
</div>
