<!DOCTYPE html>
<html>
<head>
  <title>Pigeon Post</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
</head>
<body>
<%= render :partial => "partials/nav" %>
<div class="notifications">
  <span class="notice"><%= notice %></span>
  <span class="alert"><%= alert %></span>
</div>

<%= yield %>
</body>
</html>
