<!DOCTYPE html>
<html>
<head>
  <title>Pigeon Post</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'application/favicon' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
</head>
<body>
<!-- <%= render :partial => "partials/nav" %> -->
<% if notice || alert %>
  <div class="notifications">
    <span class="close-notification-button">✕</span>
    <span class="notice"><%= notice %></span>
    <span class="alert"><%= alert %></span>
  </div>
<% end %>

<%= yield %>
</body>
<script>
  $(".close-notification-button").click(function() {
    $(".notifications").hide();
  });
</script>
</html>
